{:paths ["bb" "src"],
 :deps
 {clockworksio/clci                        {:local/root "."}},
 :tasks
 {carve
  {:doc "Remove unused vars.", :task (exec 'clci.tools.core/carve!)},
  clci
  {:doc "Run clci.",
   :task (exec 'clci.core/-main)},
  test
  {:extra-paths ["test"],
   :extra-deps
   {io.github.cognitect-labs/test-runner
    {:git/tag "v0.5.1", :git/sha "dfb30dd"}},
   :task (exec 'cognitect.test-runner.api/test),
   :exec-args {:dirs ["test"], :patterns [".*-test$"]},
   :org.babashka/cli {:coerce {:nses [:symbol], :vars [:symbol]}}},
  semver
  {:doc "semver test",
   :requires ([clci.semver :as sv]),
   :task sv/derive-current-commit-version},
  docs
  {:doc "Handle the documentation of the project.",
   :task (exec 'clci.tools.core/docs!)},
  release
  {:doc "Create a new release.",
   :task (exec 'clci.tools.core/release!)},
}}
