{:paths ["src"]
 :description "ClCI"
 :url       "https://github.com/ClockworksIO/clci"
 :scm       {:name "git"
             :url "git@github.com:ClockworksIO/clci.git"}
 :license   {:name "Apache-2.0"
             :url "https://www.apache.org/licenses/LICENSE-2.0"}
 ;; library name
 :lib-name clockworksio/clci
 ;; current version - uses semantic versioning
 :version "0.4.0"
 ;; directory where all non-code resources are located
 :resources-dir "resources"
 ;; build target directory - used to place build artifacts
 :target-dir  "target"
 
 :deps      {babashka/process                         {:mvn/version "0.3.11"}
             io.github.babashka/instaparse.bb         {:git/sha "0e86a09bafead57eed251cbda53ab35032688bdf"}
             io.github.clj-kondo/clj-kondo-bb         {:git/tag "v2023.01.20" 
                                                       :git/sha "adfc7df"}}

 :aliases
 {:format				   {:deps 				{cljfmt                                {:mvn/version "0.9.2"}}}
  :nREPL           {:extra-deps   {nrepl/nrepl                           {:mvn/version "1.0.0"}}}
  }
 }
