{:paths ["src/clj"]
 :description "ClCI"
 :url       "https://github.com/ClockworksIO/clci"
 :scm       {:name "git"
             :url "git@github.com:ClockworksIO/clci.git"}
 :license   {:name "Apache-2.0"
             :url "https://www.apache.org/licenses/LICENSE-2.0"}
 :deps
 {org.clojure/clojure                 {:mvn/version   "1.11.1"}
  instaparse/instaparse 					{:mvn/version "1.4.12"}
  org.endot/bb-pod-racer 					{:mvn/version "0.1.9"}}

 :aliases
 {:test                {:extra-paths     ["test"]
                        :main-opts       ["-m" "kaocha.runner"]
                        :extra-deps      {lambdaisland/kaocha                    {:mvn/version "1.70.1086"}}}
  :nREPL			      {:extra-deps 		{nrepl/nrepl 			                   {:mvn/version "1.0.0"}}}
  :format				   {:deps 				{mvxcvi/cljstyle 		                   {:mvn/version "0.15.0"}}}
  :build               {:deps    			{io.github.clojure/tools.build 	       {:git/tag "v0.8.5" :git/sha "9c738da"}
                                     com.github.clj-easy/graal-build-time   {:mvn/version "0.1.4"}}
                        :ns-default       build}
  }

 :build                 {:version         "0.0.0"					; uses semantic versioning!
                         :target-dir	   "target" 				; target directory for build artifacts
                         :lib-name        'clockworks/clci}
 }
