{:paths ["src"]
 :description "ClCI"
 :url       "https://github.com/ClockworksIO/clci"
 :scm       {:name "git"
             :url "git@github.com:ClockworksIO/clci.git"}
 :license   {:name "Apache-2.0"
             :url "https://www.apache.org/licenses/LICENSE-2.0"}
 ;; library name
 :lib-name clockworksio/clci
 ;; directory where all non-code resources are located
 :resources-dir "resources"
 ;; build target directory - used to place build artifacts
 :target-dir  "target"
 
 :deps      {babashka/process                         {:mvn/version "0.4.16"}
             org.babashka/http-client                 {:mvn/version "0.1.4"}
             io.github.babashka/instaparse.bb         {:git/sha "2bdd8726d197abfbe3d943d2c3af547f296a2190"}
             io.github.clj-kondo/clj-kondo-bb         {:git/tag "v2023.01.20" 
                                                       :git/sha "adfc7df"}
             io.github.borkdude/carve                 {:git/url "https://github.com/borkdude/carve"
                                                       :git/tag "v0.3.5"
                                                       :git/sha "6f0f3bf"}
             io.github.matthewdowney/linesofcode-bb   {:git/tag "v0.0.2" 
                                                       :git/sha "12e4f52"}
             cheshire/cheshire                        {:mvn/version "5.11.0"}}

 :aliases
 {:format				   {:deps 	{mvxcvi/cljstyle                       {:mvn/version "0.15.0"}}}
  :outdated        {:deps   {com.github.liquidz/antq               {:mvn/version "2.2.992"}}}
  :coverage        {:deps   {cloverage/cloverage                   {:mvn/version "1.2.4"}}}
  :nREPL           {:deps   {nrepl/nrepl                           {:mvn/version "1.0.0"}}}
  }
 }
