{:pod/name clockworks/clci
 :pod/description "CI tools for Clojure."
 :pod/version "0.1.2"
 :pod/license "Apache 2.0"
 :pod/language "clojure"
 :pod/artifacts
 [{:os/name "Linux.*"
   :os/arch "amd64"
   :artifact/url "https://github.com/ClockworksIO/clci/archive/refs/tags/v0.1.2.zip"
   :artifact/executable "clci.main"}]}