{:version "0.12.2.",
 :scm
 {:name "git",
  :url "git@github.com:ClockworksIO/clci.git",
  :github {:repo "clci", :owner "ClockworksIO"}},
 :jobs {:on-commit []},
 :projects [{:root "", :extra-jobs {}, :skip-jobs {}}]}
