{:scm
 {:type :git,
  :url "git@github.com:ClockworksIO/clci.git",
  :trunk "master",
  :provider {:name :github, :repo "clci", :owner "ClockworksIO"}},
 :products
 [{:root ".",
   :version "0.24.0",
   :key :clci,
   :release-prefix "clci",
   :type :other}]}
