{:name          "Commit Message"
 :key           :on-git-commit-message
 :description   "Run when a commit message is written."
 :trigger       [:git-commit-msg]
 :disabled?     false
 :jobs
 [{:ref     :lint-commit-msg
   :action  clci.actions.core/conventional-commit-linter-action
   :scope   :repository
   :inputs  {}}
  ]}