{:name          "Git Pre-Commit"
 :key           :on-git-pre-commit
 :description   "Run automations when the git pre-commit hooks is triggered."
 :trigger       [:git-pre-commit]
 :disabled?     false
 :jobs
 [{:ref     :staged-files
   :scope   :repository
   :action  clci.actions.core/git-staged-files-action
   :inputs  {}}
  {:ref     :format-clojure-files
   :scope   :product
   :action  clci.actions.core/format-clj-action
   :inputs  {:fix true}}
  {:ref     :lint-clojure-files
   :scope   :product
   :action  clci.actions.core/lint-clj-action
   :inputs  {:fail-level  :error
             :paths       ["src"]}}
  {:ref     :carve
   :scope   :product
   :action  clci.actions.core/clj-carve-action
   :inputs  {:paths       ["src"]
             :no-fail      true}}
  {:ref     :re-add-files
   :scope   :repository
   :action  clci.actions.core/git-add-files-action
   :inputs  {:files :!job.staged-files/staged}}
  ]}