{:name          "Example Workflow"
   :key           :lint-on-git-commit-msg
   :description   "Some blah blah blah."
   :trigger       [:git/commit-msg]
   :disabled?     false
   :jobs
   [{:ref     :lint-commit-msg
     :action  actions/conventional-commit-linter-action
     :inputs  nil}]}